header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(208, 203, 203);
    background-color: #f7f7f7;
}

.page__title{
    font-weight: 600;
    font-size: 1.5rem;
}

.other__info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.account{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.user__details{
    display: flex;
    flex-direction: column;
}

.username{
    font-weight: 600;
}

.role{
    color: grey;
}